<div>
  Enter the movie number from 0 to 19 and enter -1 to get movies list again:<input type="number"[(ngModel)]="n">
  <button (click)="search()">search</button>
</div>

<div *ngIf="res1==-1">
  
  <ol start='0'>
    <li *ngFor="let c of count">
     {{galleryData[c].title}}
    </li>
  </ol>
</div>

<div *ngIf="res1>=0">
 <div class="gallery">
   <div >
     <div class="thumb">
       <div class="title" >
         <span>{{ galleryData[res1].title}}</span>
         <p class="popularity"> &#10084; {{ galleryData[res1].vote_average}}</p>
         <span class="overview">{{ galleryData[res1].overview}}</span>
       </div>
       <img [src]="galleryData[res1].backdrop_path" alt="galleryData[res1].title">
     </div>
   </div>
 </div>
</div>
 

     



