
<button *ngIf="condition1" (click)="click()">testing if directive</button>
<div *ngIf="condition">
  <ul class="nav nav-pills">
    <li [class.active]="value=='home'"><a (click)="value='home'">Home</a></li>  <!-- class-binding -->
    <li [class.active]="value=='cricket'"><a (click)="value='cricket'">Cricket</a></li>
    <li [class.active]="value=='football'"><a (click)="value='football'">Football</a></li>
  </ul>
   <div [ngSwitch]="value"> <!--property binding -->
    <div *ngSwitchCase="'home'"><!--ng switch-->
        click either cricket or football to get the details of that game
     </div>
     <div *ngSwitchCase="'cricket'">
        <table>
            <tr>
              <th>No.</th>
              <th>Name</th>
              <th>age</th>
              <th>Highscore</th>
              <th>Average</th>
              <th>Rank</th>
            </tr>
            <tr *ngFor="let v of data;index as i;even as iseven;odd as isodd;first as one;last as l" 
            [ngClass]= "{'first':one, 'last':l ,'even':iseven, 'odd':isodd}"
            [ngStyle]= "{'background-color':one?'green':''}"
            >
              <td [style.background-color]="l?'red':''">{{i}}</td>
              <td [style.background-color]="l?'red':''">{{v?.name}}</td>
              <td [style.background-color]="l?'red':''">{{v?.age}}</td>
              <td [style.background-color]="l?'red':''">{{v?.highscore}}</td>  
              <td [style.background-color]="l?'red':''">{{v?.average}}</td>
              <td [style.background-color]="l?'red':''">{{v?.rank}}</td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
     </div>
     <div *ngSwitchCase="'football'">
        please click cricket to test this site.
     </div>
  </div>
</div>
<div [hidden]="condition">
  <p>click the above button to test the if directive and hidden property</p>
</div>