
<div class="container">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
  <main role="main">

  
      <div class="jumbotron">
          <div class="container">
            <h1 class="display-3">Air quality check</h1>
            <p>An air quality index (AQI) is a number used by government agencies to communicate to the public how polluted the air currently is or how polluted it is forecast to become. ...</p>
            <p><a class="btn btn-sm" routerLink="image" role="button">Learn more »</a></p>
          </div>
        </div>
  
    
  
    <div class="container" id="b">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-3">
          <h2>{{cities1[0]}}</h2>
          <p><a class="btn btn-secondary" routerLink="airdata" role="button" (click)="sendcity(cities1[0])">View details »</a></p>
        </div>
        <div class="col-md-3">
          <h2>{{cities1[1]}}</h2>
          <p><a class="btn btn-secondary" routerLink="airdata" role="button" (click)="sendcity(cities1[1])">View details »</a></p>
        </div>
         <div class="col-md-3">
            <h2>{{cities1[2]}}</h2>
            <p><a class="btn btn-secondary" routerLink="airdata" role="button" (click)="sendcity(cities1[2])">View details »</a></p>
         </div>
         <div class="col-md-3">
            <h2>{{cities1[3]}}</h2>
            <p><a class="btn btn-secondary" routerLink="airdata" role="button" (click)="sendcity(cities1[3])">View details »</a></p>
         </div>
         </div>
      <div class="row">
        <div class="col-md-3">
          <h2>{{cities2[0]}}</h2>
          <p><a class="btn btn-secondary" routerLink="airdata" role="button" (click)="sendcity(cities2[0])">View details »</a></p>
        </div>
        <div class="col-md-3">
          <h2>{{cities2[1]}}</h2>
          <p><a class="btn btn-secondary" routerLink="airdata" role="button" (click)="sendcity(cities2[1])">View details »</a></p>
        </div>
          <div class="col-md-3">
           <h2>{{cities2[2]}}</h2>
           <p><a class="btn btn-secondary" routerLink="airdata" role="button" (click)="sendcity(cities2[2])">View details »</a></p>
         </div>
          <div class="col-md-3">
            <h2>{{cities2[3]}}</h2>
            <p><a class="btn btn-secondary" routerLink="airdata" role="button" (click)="sendcity(cities2[3])">View details »</a></p>
          </div>
        </div>
      </div>
    
      <hr>
  </main>
</div>

